html {
    scroll-behavior: smooth;
}

body {
    display:block;
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
    margin: 0;
    padding: 0;
}

/* section {
    background-color: white;
} */

.hero {
    height: 100vh;
    color: white;
    font-size: 30px;

}

footer {
    display: block;
    height: 100%;
    width: auto;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-around;
}

li {
    text-decoration: none;
}

h1 {
    font-size: clamp(20px, 2px + 10vw, 90px);
    line-height: 100%;
    margin: 0;
    color: black;

}

h2 {
    font-size: clamp(30px, 1px + 10vw, 70px);
    color: black;
}

h3 {
    font-size: clamp(10px, 1px + 10vw, 40px);
    line-height: 100%;
}

h4 {
    font-size: 30px;
    margin-bottom: 10px;
}

h5 {
    font-size: 12px;
    font-weight: 100;
    text-align: center;
    color: black;
}

p {
    margin: 0;
    font-size: clamp(15px, 1px + 4vw, 30px);
    color: black;
    /* font-weight: 100; */
}

a {
    text-decoration: none;
    /* font-weight: 600; */
    color: black;
    font-weight: 600;
}

.subtext {
    font-size: clamp(10px, 15px, 20px);
    /* font-weight: 100; */
    padding-bottom: 20px;
}

.hero-text {
width: 100%;
padding-top: 60%;
}

.hero-area {
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    align-items: center;
}


.socials {
    padding-bottom: 200px;
    color: black;
}

.logo-text {
    font-size: 36px;
    margin: 30px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    max-width: 100%;
    justify-content: space-around;
    /* padding: 80px; */
}

.sub-section-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

#header-background {
    background: url(/img/main.jpg);
    background-size: cover;
    background-position: center top; /* Adjust this line */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}



/* #header-background {
    background:url(/img/main.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
} */

.info {
    width: 100%;
}

.headshot-container {
    display: flex;
    align-items:center;
}

.project-style {
    width: 100%;
    height: 100%;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content:space-around; 
}


hr {
    margin-left: 20px;
    margin-right: 20px;
}


.project-link {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }

}

.hamburger {
    display: none;
}

.hamburger:focus {
    /* outline: 0; */
}

@media only screen and (max-width: 800px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: black;
        font-size: 40px;
        margin: 20px;
        align-self: flex-end;
    }

    .profile-image {
        /* display: none; */
        max-width: 250px;
        max-height: 250px;
    }

    ul {
        display: none;
        /* background-color: red; */
        margin: 0px;
    }

    nav {
       display: flex;
       flex-direction: column-reverse;
    }

    .logo-text {
        display: none;
    }
    ul.show {
        display: block;
    }

    .headshot {
        display: none;
    }
}

.nav-list a {
    padding: 10px;
    border-radius: 3px;
}
.nav-list a:hover  {
    /* display: none; */
    background-color: black;
    color: white;
}

.copyright {
padding-top: 100px;
}

section {
    /* display: none; */
    /* height: 90vh; */
    width: 90%;
    margin: auto;
}


/* New version */


.whole-portfolio {
    text-align: center;
    align-items: center;
}



.portfolio-item {
    padding-top: 20px;

}



.portfolio-img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.portfolio-subtext {
    width: 100%;
    font-size: clamp(15px, 30px);
}

.portfolio-button {
    margin:auto;
    display:block;
    margin-top: 40px;
    width: 200px;
}


.portfolio-button:hover {
    opacity: 80%;
    background-color: white;
    cursor: pointer;
    transform: scale(1.03);
    box-shadow:
    rgba(240, 46, 170, 0.4) 0px 5px,
    rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px,
    rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.0) 0px 25px,
    ;
}



/* Gallery  */

.gallery {
    margin: 5px;
    width: 100%;
    float: left;
  }
    
  .gallery img {
    width: 60%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }

  .profile-image {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    padding: 3vw;
  }


  /* Mobile menu  */
    
  .mobilex {
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent line breaks */
    text-align: center; /* Align items to the center */
    width: 100%; /* Full width */
    display: none; /* Initially hidden */
  }
  
  .mobilex li {
    font-size: 22px;
    display: inline;
    margin-right: 20px;
  }
  
  .mobilex li:last-child {
    margin-right: 0;
  }
  
  .mobilex li a {
    color: white;
    text-decoration: none;
  }

  /* to top  */

  #backToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  /* #backToTopBtn:hover {
    background-color: lightgrey;
  } */